body {
margin-top: 50px;
font-size: 28px;
font-weight: 700;
}


.products {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
gap: 20px;
margin-top: 30px;
}


.product-card {
background: #fff;
border-radius: 12px;
box-shadow: 0 4px 8px rgba(0,0,0,0.05);
overflow: hidden;
padding: 20px;
text-align: center;
transition: transform 0.3s ease;
position: relative;
display: flex ;
}


.product-card:hover {
transform: translateY(-5px);
}


.product-card .badge {
position: absolute;
top: 15px;
left: 15px;
background: #FEE100;
color: #000;
font-size: 12px;
font-weight: 600;
padding: 5px 10px;
border-radius: 20px;
}


.product-card img {
max-width: 100%;
height: auto;
margin-bottom: 15px;
border-radius: 8px;
}


.product-card p {
font-size: 14px;
margin: 10px 0;
color: #555;
}


.product-card h4 {
font-size: 18px;
font-weight: 600;
margin-bottom: 10px;
color: #3280EC;
}


.product-card a {
display: inline-block;
padding: 8px 16px;
background: #3280EC;
color: #fff;
text-decoration: none;
border-radius: 6px;
font-size: 14px;
transition: background 0.3s ease;
}


.product-card a:hover {
background: #225db5;
}